// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f2f2f2;
    font-family: 'Comic Sans MS';
    color: #333;
}

h1, h2 {
    color: #444;
    white-space: nowrap;
}


.t {
    text-align: center;
}

.contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .contact div {
        flex: 1 0 30%;
        margin: 1em;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 50px;
        background-color: lightgray;
    }

        .contact div:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

img.photo {
    width: 60%;
    height: auto;
    border-radius: 15px;
    margin: 20px auto;
    object-fit: cover;
    display: block;
}

img.db {
    width: 200px;
    height: auto;
    border-radius: 5px;
}


.co {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .co div {
        flex: 1 0 30%;
        margin: 1em;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 50px;
        background-color: lightgray;
    }

        .co div:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

img.ab {
    width: 40%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    display: block;
    margin: 20px auto;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .about div {
        flex: 0 0 calc(50% - 1em);
        margin: 0.5em;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        background-color: lightgray;
        text-align: left;
        display: flex;
        align-items: center;
    }

.a div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img.about {
    width: 50%;
    height: auto;
    border-top-left-radius: 10px;
    margin-right: 10px;
}

.slider {
    display: flex;
    justify-content: space-between;
}

    .slider .i {
        width: 33%;
        height: auto;
        object-fit: cover;
    }

.my-carousel .carousel-item {
    display: flex;
    max-height: 300px;
}

.modal-body img {
    max-width: auto;
    max-height: 500px;
}

.my-carousel .carousel-item img {
    object-fit: cover;
}

h2, p {
    padding: 15px;
    margin: 0;
}

td, th {
    padding: 10px;
    border: 1px solid #333;
    margin: 10px 0;
    text-align: center;
    color: dimgray;
    border-color: dimgrey;
}

th {
    border: 1px solid #333;
    color: darkred;
    border-color: dimgrey;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color:lightgray
}

.control-label {
    display: block;
    margin-top: 8px;
}
button.l 
{
    margin-left: 4%;
}
img.bu{
    margin-top: 15px;
    margin-bottom: 15px;
}
.product-image {
    max-height: 300px; 
    max-width: 400px;
    object-fit: cover;
}

.card {
    margin: 15px;
    background-color: gainsboro !important;
}
